/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /* header start*/
  .menu ul li a {
    font-size: 20px;
    padding: 0 0px !important;
  }
  /* header end*/
  /* slider start*/

  .slider {
    padding-bottom: 60px;
  }
  .s_content h1 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .s_content h3 {
    margin-bottom: 15px;
  }
  .s_content p {
    margin-bottom: 20px;
  }
  .c_ind {
    bottom: -52px;
  }

  .c_ind li {
    width: 13px;
    height: 13px;
  }
  .s_icon ul li {
    margin-right: 20px !important;
    font-size: 35px;
  }

  /* slider end*/

  /* service start*/

  .services,
  .contact {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .c_h1 {
    font-size: 28px;
  }
  .c_p {
    font-size: 18px;
  }
  .single_item {
    margin-top: 20px;
    text-align: center;
  }
  .a_icon {
    font-size: 40px;
  }
  .a_text {
    margin-top: 0px;
  }
  .a_text h2 {
    font-size: 21px;
    margin-bottom: 10px;
  }

  /* service end*/
  /* contact start*/
  .c_email,
  .c_button {
    height: 45px;
  }

  .c_form {
    margin: 35px 0 38px;
  }
  .s_media ul li {
    padding: 5px 5px;
  }
  .s_media ul li a {
    font-size: 40px;
  }
  /* contact end*/

  /* footer start*/
  footer {
    padding-bottom: 40px;
  }
  .f_1,
  .f_2 {
    text-align: center;
    margin-bottom: 30px;
  }

  /* footer end*/

  .verticle-card-title, .verticle-card-row {
    display: none !important;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .menu ul li a {
    padding: 0 0px !important;
    text-align: right;
  }
  /* slider start*/

  .slider {
    padding-bottom: 70px;
  }
  .s_content h1 {
    margin-bottom: 15px;
  }
  .s_content h3 {
    margin-bottom: 15px;
  }
  .s_content p {
    margin-bottom: 20px;
  }
  .c_ind {
    bottom: -58px;
  }

  .c_ind li {
    width: 13px;
    height: 13px;
  }
  .s_icon ul li {
    margin-right: 20px !important;
    font-size: 38px;
  }

  /* slider end*/

  /* service start*/

  .services,
  .contact {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .c_h1 {
    font-size: 30px;
  }
  .c_p {
    font-size: 18px;
  }
  .single_item {
    margin-top: 30px;
    text-align: center;
  }
  .a_icon {
    font-size: 40px;
  }
  .a_text {
    margin-top: 0px;
  }
  .a_text h2 {
    font-size: 21px;
  }
  /* service end*/

  /* contact start*/

  .c_form {
    margin: 35px 0 40px;
  }
  /* contact end*/
  /* footer start*/
  footer {
    padding-bottom: 40px;
  }
  .f_1,
  .f_2 {
    text-align: center;
    margin-bottom: 40px;
  }

  /* footer end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu ul li a {
    padding: 0 0px !important;
    text-align: right;
  }
  /* service start*/

  .services,
  .contact {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .c_p {
    font-size: 19px;
  }
  .single_item {
    margin-top: 30px;
    text-align: center;
  }
  .a_icon {
    font-size: 40px;
  }
  .a_text {
    margin-top: 0px;
  }
  .a_text h2 {
    font-size: 21px;
  }
  /* service end*/

  /* contact start*/

  .c_form {
    margin: 35px 0 40px;
  }
  /* contact end*/
  /* footer start*/
  footer {
    padding-bottom: 100px;
  }

  /* footer end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .single_item {
    margin-top: 30px;
  }
}

/*Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
}
/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
