/*font-family: 'PT Sans', sans-serif;*/
/* common start*/
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #898989;
  background-color: #F3FDE8;
}

/* common end*/
/*header start*/
header {
  /* background-color: #F3FDE8; */
  padding: 20px 0;
}

.logo {
  width: 25%;
}
.navbar-light .navbar-toggler {
  color: rgba(21, 185, 235, 0.55);
  border-color: rgb(10 10 10 / 10%);
}
.menu ul li a {
  font-size: 22px;
  font-weight: 700;
  color: #010101 !important;
  padding: 0 53px !important ;
  transition: 0.5s !important;
}
.menu ul li:last-child a {
  padding-right: 0 !important;
}
.menu ul li a:hover {
  color: white !important;
}
/*header end*/
/* slider start*/
.slider {
  background-color: #F3FDE8;
  padding-bottom: 100px;
}
.s_content {
}
.s_content h1 {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 700;
  color: #010101;
}

.s_content h3 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 400;
  color: #313841;
}
.s_content p {
  margin-bottom: 40px;
  color: #555555;
}
.s_icon {
}

.s_icon ul li {
  margin-right: 35px !important;
  font-size: 42px;
  font-weight: 400;
  color: #010101;
}

.s_icon ul li a {
  text-decoration: none;
  color: #010101;
  transition: 0.3s !important;
}

.s_icon ul li a:hover {
  color: white;
}

.c_ind {
  bottom: -80px;
}
.c_ind li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #010101;
}

.c_ind .active {
  opacity: 1;
  background-color: white;
}
/* slider end*/
/* services start*/

.services {
  padding-top: 100px;
  padding-bottom: 120px;
}
.c_title {
}
.c_h1 {
  font-size: 32px;
  font-weight: 700;
  color: #010101;
}
.c_p {
  font-size: 20px;
  color: #313841;
  line-height: 24px;
  letter-spacing: 1px;
}

.single_item {
  margin-top: 60px;
}

.a_icon {
  font-size: 50px;
  color: #010101;
}

.a_text {
  margin-top: 8px;
}
.a_text h2 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
  color: #010101;
}
.a_text p {
  margin-bottom: 0;
  line-height: 20px;
  letter-spacing: 1px;
}
/* services end*/
/* contact start*/
.contact {
  background-color: #010101;
  padding-top: 100px;
  padding-bottom: 120px;
}
.yellow {
  color: #F3FDE8;
}
.ash {
  color: #898989;
}
.c_form {
  margin: 35px 0 50px;
}
.c_email {
  width: 100%;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #898989;
}

.c_email:focus {
  border-color: white;
  outline: 0;
  box-shadow: none;
}
.c_button {
  width: 100%;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #010101;
  text-transform: uppercase;
  background-color: #F3FDE8;
  cursor: pointer;
  transition: 0.3s;
}
.c_button:hover {
  color: #F3FDE8;
  background-color: white;
}
.c_button:focus {
  outline: 0;
  box-shadow: none;
}
.s_media {
}
.s_media ul {
  margin-bottom: 0;
}
.s_media ul li {
  padding: 5px 10px;
}
.s_media ul li a {
  color: #F3FDE8;
  font-size: 42px;
}
.s_media ul li a:hover {
  color: #fff;
}
/* contact end*/
/* footer start*/
footer {
  background-color: #010101;
  padding-bottom: 120px;
}
.f_1 {
}
.f_1 p {
  color: white;
  margin-bottom: 4px;
  line-height: 20px;
}
.f_2 {
}
.f_2 ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.f_2 ul li a:hover {
  color: #F3FDE8;
}
/* footer end*/
