/*font-family: 'PT Sans', sans-serif;*/
/* common start*/
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #898989;
  background-color: #f3fde8;
}

/* common end*/
/*header start*/
header {
  padding: 20px 0;
}

.logo {
  max-width: 200px;
  display: inline-block;
}
.navbar-light .navbar-toggler {
  color: rgba(21, 185, 235, 0.55);
  border-color: rgb(10 10 10 / 10%);
}
.menu ul li a {
  font-size: 15px;
  font-weight: 700;
  color: #010101;
  margin-left: 10px;
  width: 100px;
  transition: 0.5s !important;
  border-radius: 30px;
  text-align: center;
}

.menu ul li a:hover {
  color: white !important;
  background-color: #010101 !important;
}

.active-link {
  color: white !important;
  background-color: #010101 !important;
}

/*header end*/
/* slider start*/
.slider {
  background-color: #f3fde8;
  padding-bottom: 100px;
}

.slider {
  min-height: 400px !important; /* Adjust the height as needed */
}

.s_content h1 {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 700;
  color: #010101;
}

.s_content h3 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 400;
  color: #313841;
}
.s_content p {
  margin-bottom: 40px;
  color: #555555;
}

.s_icon ul li {
  margin-right: 35px !important;
  font-size: 42px;
  font-weight: 400;
  color: #010101;
}

.s_icon ul li a {
  text-decoration: none;
  color: #010101;
  transition: 0.3s !important;
}

.s_icon ul li a:hover {
  color: white;
}

.c_ind {
  bottom: -80px;
}
.c_ind li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #010101;
}

.c_ind .active {
  opacity: 1;
  background-color: rgb(151, 221, 201);
}
/* slider end*/
/* catagories start*/

.catagories {
  padding-top: 100px;
  padding-bottom: 120px;
}

.c_h1 {
  font-size: 32px;
  font-weight: 700;
  color: #010101;
}
.c_p {
  font-size: 20px;
  color: #313841;
  line-height: 24px;
  letter-spacing: 1px;
}

.single_item {
  border: 1px solid #ddd;
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.single_item:hover,
.single_item:focus {
  background-color: rgb(229, 255, 226);
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-image {
  max-width: 100%;
  height: auto;
}

.single_item a {
  text-decoration: none;
  color: #313841;
}

.a_icon {
  font-size: 50px;
  color: #010101;
}

.a_text {
  margin-top: 8px;
}
.a_text h2 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
  color: #010101;
}
.a_text p {
  margin-bottom: 0;
  line-height: 20px;
  letter-spacing: 1px;
}

/* Category Link */
/* Apply styles to the "Catagories" link */
.c_h1 a {
  text-decoration: none;
  color: #010101;
  transition: transform 0.3s ease-in-out;
  display: inline-block; /* Add this line */
}

/* Apply styles to the paragraph text */
.c_p {
  color: #313841;
}

/* Hover effect for the "Catagories" link */
.c_h1 a:hover {
  transform: translateY(-5px);
}

/* catagories end*/
/* contact start*/
.contact {
  background-color: #010101;
  padding-top: 100px;
}
.yellow {
  color: #f3fde8;
}
.ash {
  color: #898989;
}
.c_form {
  margin: 35px 0 50px;
}
.c_email {
  width: 100%;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #898989;
}

.c_email:focus {
  border-color: white;
  outline: 0;
  box-shadow: none;
}
.c_button {
  width: 100%;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #010101;
  text-transform: uppercase;
  background-color: #afb8a5;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #afb8a5;
  /* border-radius: 30px; */
}
.alt-button {
  background-color: #ccc;
  border: 2px solid #ccc;
  width: fit-content;
  margin-right: 10px;
  text-align: center;
  /* padding-bottom: 0; */
  /* margin-bottom: 0; */
  padding-top: 12px;
}

.more-button {
  width: 100%;
  text-align: center;
  padding-top: 12px;
}
.c_button:hover {
  color: #010101;
  background-color: #f3fde8;
}
.c_button:focus {
  outline: 0;
  box-shadow: none;
}

.s_media ul {
  margin-bottom: 0;
}
.s_media ul li {
  padding: 5px 10px;
}
.s_media ul li a {
  color: #f3fde8;
  font-size: 42px;
}
.s_media ul li a:hover {
  color: #fff;
}
/* contact end*/
/* footer start*/
footer {
  background-color: #010101;
  padding-bottom: 120px;
  padding-top: 120px;
}

.f_1 p {
  color: white;
  margin-bottom: 4px;
  line-height: 20px;
}

.f_2 ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.f_2 ul li a:hover {
  color: #f3fde8;
}
/* footer end*/

/* Article start*/
.category-title{
  margin-top: 3rem;
}
.card-link {
  text-decoration: none;
}

.my-card {
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #f3fde8;
  text-align: justify;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.my-card:hover {
  transform: translateY(-5px);
  background-color: rgb(229, 255, 226);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-title {
  color: #313841;
}

.card-text {
  color: #898989;
}

.verticle-card-row {
  margin-top: 0.3rem;
}

.verticle-card {
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #f3fde8;
  text-align: justify;
}

.verticle-card:hover {
  transform: translateY(-5px);
  background-color: rgb(229, 255, 226);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Article end*/
/* Articles.html Start */
.articles {
  padding-bottom: 50px;
}

.latest-link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s, transform 0.3s;
  display: inline-block;
  margin-left: 5px;
  padding: auto;
}

.latest-link:hover {
  color: #ff5733;
  transform: translateX(5px);
}
/* Articles.html End */
/* Scroll to top Start */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #afb8a5;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border: 2px solid #afb8a5;
}

/* Hover effect */
.scroll-to-top:hover {
  background-color: #f3fde8;
  color: #010101;
}

/* Scroll to top End */

/* সাইন ইন শুরু */
.custom-form-section {
  min-height: 60vh;
}
.form-title {
  color: #101010;
  margin-bottom: 30px;
  margin: 30px;
}

/* Profile Photo */
#image-preview-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}

#image-preview {
  max-width: none;
  max-height: none;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#upload-text {
  display: block;
  text-align: center;
  font-size: 14px;
}

#image-preview-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

/* Profile.html Start */

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  flex: 1;
  margin-right: 10px;
}

/* Profile.html End */

/* Readarticle.html start */
.article-title {
  font-size: 40px;
  font-weight: 700;
  color: #010101;
  text-align: justify;
}

.article-body {
  margin-top: 10px;
  text-align: justify;
  color: #010101;
  font-size: larger;
}

.related-articles {
  color: #010101;
}

.tags {
  margin-top: 20px;
}

.tags a {
  text-decoration: none;
  color: #101010;
  background-color: #afb8a5;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid #afb8a5;
  transition: 0.3s;
  margin: 2px;
}

.tags a:hover {
  background-color: #f3fde8;
}

.slider-item {
  /* display: flex; */
  /* flex-direction: column; */
  height: 435px;
  text-align: justify;
}

.s_img {
  text-align: center;
  /* Set the dimensions and other styles for the container */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-fill {
  /* Set the dimensions and other styles for the image */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.admin {
  padding-bottom: 150px;
}
